/*
  1. Use a more-intuitive box-sizing model.
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}
/*
    2. Remove default margin
  */
* {
  margin: 0;
  padding: 0;
  font: inherit;
}
/*
    Typographic tweaks!
    3. Add accessible line-height
    4. Improve text rendering
  */
html {
  position: relative;
}
body {
  line-height: 1.5;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  font-family: "Epilogue", sans-serif;
  margin: 0;
  padding: 0;
}
/*
    5. Improve media defaults
  */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
/*
    6. Remove built-in form typography styles
  */
input,
button,
textarea,
select {
  font: inherit;
}
/*
    7. Avoid text overflows
  */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
/*
    8. Create a root stacking context
  */
#root,
#__next {
  isolation: isolate;
}

/* Variables */
:root {
  --clr-neutral-100: hsl(0, 0%, 98%);
  --clr-neutral-300: hsl(0, 0%, 41%);
  --clr-neutral-600: hsl(0, 0%, 8%);

  --fs-100: 1.125rem;
  --fs-200: 2.2rem;
  --fs-300: 4.45rem;
  --fs-400: 9rem;

  --fw-500: 500;
  --fw-700: 700;
}

/* Utility Classes */
.bg-clr-neutral-100 {
  background-color: var(--clr-neutral-100);
}
.bg-clr-neutral-300 {
  background-color: var(--clr-neutral-300);
}
.bg-clr-neutral-600 {
  background-color: var(--clr-neutral-600);
}

.clr-neutral-100 {
  color: var(--clr-neutral-100);
}
.clr-neutral-300 {
  color: var(--clr-neutral-300);
}
.clr-neutral-600 {
  color: var(--clr-neutral-600);
}

.fs-paragraph-primary {
  font-size: var(--fs-100);
}

.fs-header-primary {
  font-size: var(--fs-300);
}

.fw-500 {
  font-weight: var(--fw-500);
}
.fw-700 {
  font-weight: var(--fw-700);
}

@media (max-width: 40rem) {
  .fs-header-primary {
    font-size: var(--fs-200);
  }
}
/* Header */
header {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  margin: 1rem;
}

/* header > div:nth-of-type(2) > ul {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  gap: 0.4rem;
  list-style-type: none;
} */

/* Navigation */
header > div:nth-of-type(2) > nav {
  background-color: var(--clr-neutral-100);
  width: 70%;
  height: 100dvh;
  position: absolute;
  top: 0px;
  right: 0px;
  display: flex;
  flex-flow: column nowrap;
  gap: 2rem;
  display: none;
}

header > div:nth-of-type(2) > nav > img {
  object-fit: contain;
  width: 2.5rem;
  align-self: flex-end;
  margin: 1.5rem;
}

header > div:nth-of-type(2) > nav > ul {
  list-style: none;
  margin-left: 2rem;
}

header > div:nth-of-type(2) > nav > ul > li {
  margin-bottom: 1rem;
}

header > div:nth-of-type(2) > nav > ul > li > a {
  text-decoration: none;
  color: var(--clr-neutral-300);
  font-size: var(--fs-100);
}
header > div:nth-of-type(2) > nav > ul > li > a:hover {
  color: var(--clr-neutral-600);
}
header > div:nth-of-type(2) > nav > ul > li:nth-of-type(1) > a::after {
  content: "";
  background-image: url("icon-arrow-down.svg");
  background-repeat: no-repeat;
  width: 10px;
  height: 10px;
  margin-left: 0.5rem;
  display: inline-block;
}

header > div:nth-of-type(2) > nav > ul > li:nth-of-type(2) > a::after {
  content: "";
  background-image: url("icon-arrow-down.svg");
  background-repeat: no-repeat;
  width: 10px;
  height: 10px;
  margin-left: 0.5rem;
  display: inline-block;
}

header > div:nth-of-type(2) > nav > ul > li > ul {
  list-style: none;
  margin-left: 2rem;
  margin-top: 1rem;
  display: none;
}

header > div:nth-of-type(2) > nav > ul > li > ul > li {
  margin-top: 1rem;
  display: flex;
  flex-flow: row nowrap;
  gap: 1rem;
}

header > div:nth-of-type(2) > nav > ul > li > ul > li > img {
  object-fit: contain;
  width: 1.2rem;
}

header > div:nth-of-type(2) > nav > ul > li > ul > li > a {
  text-decoration: none;
  color: var(--clr-neutral-300);
}

header > div:nth-of-type(2) > nav > div {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  /* gap: 1rem; */
}
header > div:nth-of-type(2) > nav > div > button {
  font-family: "Epilogue", sans-serif;
  font-weight: 500;
  width: 80%;
  border: 2px solid var(--clr-neutral-300);
  border-radius: 1rem;
  padding: 0.6rem 1.4rem;
  margin-bottom: 0.5rem;
  color: var(--clr-neutral-300);
  background-color: var(--clr-neutral-100);
}
header > div:nth-of-type(2) > nav > div > button:hover {
  border-color: var(--clr-neutral-600);
  color: var(--clr-neutral-600);
}
header > div:nth-of-type(2) > nav > div > button:nth-of-type(1) {
  border: none;
}
/* Nav Background Dark Effect */
.dark-background-for-nav {
  position: absolute;
  width: 100%;
  height: 100dvh;
  top: 0;
  background-color: var(--clr-neutral-600);
  opacity: 0.6;
}
/* Activate Navbar */
#activate-to-flex {
  display: flex;
}
#activate-to-block {
  display: block;
}
/* Main */
.mobile-image {
  display: block;
}
.pc-image {
  display: none;
}
main {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;
  gap: 2rem;
}

main > div {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  gap: 1rem;
  min-width: 5rem;
}

main > div:nth-of-type(1) > img {
  min-width: 5rem;
}

main > div:nth-of-type(2) {
  margin: 0 0.8rem;
}

main > div:nth-of-type(2) > h1 {
  text-align: center;
  /* margin-bottom: 1rem; */
}

main > div:nth-of-type(2) > p {
  text-align: center;
  /* margin-bottom: 1rem; */
}

main > div:nth-of-type(2) > button {
  border: 2px solid var(--clr-neutral-100);
  border-radius: 1rem;
  padding: 0.6rem 1.4rem;
  margin-bottom: 2rem;
}

main > div:nth-of-type(2) > button:hover {
  background-color: var(--clr-neutral-100);
  border: 2px solid var(--clr-neutral-600);
  color: var(--clr-neutral-600);
}

main > div:nth-of-type(2) > :nth-child(4) {
  display: flex;
  gap: 1rem;
}

main > div:nth-of-type(2) > :nth-child(4) > img {
  object-fit: contain;
  min-width: 4rem;
}

/* Desktop */
@media (min-width: 900px) {
  header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
  header > div:nth-of-type(2) {
    width: 100%;
  }
  header > div:nth-of-type(2) > img {
    display: none;
  }
  header > div:nth-of-type(2) > nav {
    background-color: var(--clr-neutral-100);
    width: 100%;
    height: auto;
    position: static;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-flow: row nowrap;
    gap: 2rem;
  }
  header > div:nth-of-type(2) > nav > img {
    display: none;
  }
  header > div:nth-of-type(2) > nav > ul {
    display: flex;
    flex-flow: row nowrap;
    gap: 2.5rem;
    justify-self: flex-start;
    align-items: center;
  }

  header > div:nth-of-type(2) > nav > ul > li {
    position: relative;
  }

  header > div:nth-of-type(2) > nav > ul > li > ul {
    position: absolute;
    padding: 1rem 2rem;
    left: -67px;
    top: 33px;
    z-index: 99;
    border-radius: 0.8rem;
    background-color: var(--clr-neutral-100);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }

  header > div:nth-of-type(2) > nav > ul > li:nth-of-type(2) > ul {
    left: -24px;
    top: 33px;
    padding: 0 2.5rem 1rem;
  }

  header > div:nth-of-type(2) > nav > div {
    display: flex;
    flex-flow: row nowrap;
    justify-self: flex-end;
    align-items: center;
  }

  /* Main */
  .mobile-image {
    display: none;
  }
  .pc-image {
    display: block;
  }
  main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 70%;
    margin: 0 auto;
  }

  main > div > img {
    object-fit: contain;
    width: 90%;
  }
  main > div:nth-of-type(1) {
    order: 2;
  }
  main > div:nth-of-type(2) {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: flex-start;
    gap: 3rem;
    height: 100%;
  }
  main > div:nth-of-type(2) > h1 {
    margin-top: auto;
    text-align: left;
    line-height: 1;
  }
  main > div:nth-of-type(2) > p {
    text-align: left;
  }
  main > div:nth-of-type(2) > :nth-child(4) {
    /* justify-self: flex-end; */
    margin-top: auto;
  }
}
